.vscode/
libtorch-shared-with-deps-latest.zip
libtorch/
pytorch/
jsoncpp-1.8.4/
tags
gflags-2.2.2/
build/
t10k-*
train-*
tmp.*
txt-books/
files.txt
files_meta.txt
books.db
baidu-lac-python/
lac_vars_map.npz
__pycache__/
